@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --radius: 14px; }

/* Improve mobile readability */
body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.prose p { color: #374151; line-height: 1.7; }


/* Nice default prose */
.prose p { color: #374151; }

/* Gradient helpers */
.bg-grid {
  background-image: linear-gradient(rgba(17,24,39,0.035) 1px, transparent 1px),
    linear-gradient(90deg, rgba(17,24,39,0.035) 1px, transparent 1px);
  background-size: 24px 24px;
}
